.main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 100%;
}
.navbarCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.secondhero_bg{
    background-image: url("https://i.imgur.com/a71XmF1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}